# This is your rocks.nvim plugins declaration file.
# Here is a small yet pretty detailed example on how to use it:
#
# [plugins]
# nvim-treesitter = "semver_version"  # e.g. "1.0.0"

# List of non-Neovim rocks.
# This includes things like `toml` or other lua packages.
[rocks]

# List of Neovim plugins to install alongside their versions.
# If the plugin name contains a dot then you must add quotes to the key name!
[plugins]
"rocks.nvim" = { version = "2.46.1" } # rocks.nvim can also manage itself :D
gruvbox-material = { version = "1.2.5" }
"rocks-git.nvim" = { version = "2.5.3" }
"rocks-treesitter.nvim" = "1.3.0"
"oil.nvim" = { version = "2.15.0" }
"lz.n" = { version = "2.11.2" }
nvim-lspconfig = { version = "2.5.0" }
"rainbow-delimiters.nvim" = { version = "0.9.1", opt = true }
nvim-surround = { version = "3.1.2", opt = true }
"telescope.nvim" = {version = "scm", opt = true }
"indent-blankline.nvim" = {version = "3.9.0", opt = true}
nvim-treesitter-context = {version = "1.0.0", opt = true}
tree-sitter-gleam = "0.0.41"
tree-sitter-toml = "0.0.31"
tree-sitter-cpp = "0.0.45"
tree-sitter-markdown = "0.0.44"
tree-sitter-markdown_inline = "0.0.42"
tree-sitter-go = "0.0.40"
tree-sitter-python = "0.0.46"
tree-sitter-sql = "0.0.41"
tree-sitter-rust = "0.0.51"
vim-moonfly-colors = "scm"

[plugins."gitsigns.nvim"]
git = "lewis6991/gitsigns.nvim"
rev = "v1.0.2"

[plugins.vim-fugitive]
git = "tpope/vim-fugitive"
rev = "v3.7"

[plugins."blink.cmp"]
git = "saghen/blink.cmp"
rev = "v1.7.0"

[plugins.vim-tmux-navigator]
git = "christoomey/vim-tmux-navigator"
rev = "v1.0"
opt = true

[plugins.vlime]
git = "vlime/vlime"
rev = "v0.4.0"
opt = true

[plugins.paredit]
git = "kovisoft/paredit"
rev = "0.9.11"
opt = true

[plugins."darkbox.nvim"]
git = "timmypidashev/darkbox.nvim"
rev = "40960993dc99d8a9c1c99e91bd702ff6964c3ccd"
